/* general syles */
:root {
  --border-size: 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Lato', sans-serif;
}

ul,
menu {
  list-style-type: none;
}

p {
  font-size: 0.8rem;
}

/* typography */

.uppercase {
  text-transform: uppercase;
}

.text-primary {
  color: var(--color-primary);
}

.italic {
  font-style: italic;
}

.courgette {
  font-family: 'Courgette', cursive;
}

/* main container */

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.center-contents {
  justify-content: center;
  align-items: center;
}

/* user interface */

/* button styles */

.btn {
  display: block;
  padding: 1rem;
  width: 12rem;
  text-align: center;

  font-size: 0.8rem;
  text-decoration: none;

  background: var(--color-secondary);
  color: var(--color-light);
  border: var(--border-size) solid var(--color-secondary);
  border-radius: 4rem;
}

.btn-secondary {
  background: var(--color-light);
  color: var(--color-primary);
  /* gradient border */
  position: relative;
  border-color: transparent;
  background-clip: padding-box;
}

/* gradient-border */
.btn-secondary::after {
  position: absolute;
  background: linear-gradient(-180deg, var(--color-primary), var(--color-secondary));
  top: calc(-1 * var(--border-size));
  right: calc(-1 * var(--border-size));
  bottom: calc(-1 * var(--border-size));
  left: calc(-1 * var(--border-size));
  content: '';
  z-index: -1;
  border-radius: 4rem;
}