/* general syles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Lato', sans-serif;
}

ul,
menu {
  list-style-type: none;
}

p {
  font-size: 0.8rem;
}

/* typography */

.text-primary {
  color: var(--color-primary);
}

.italic {
  font-style: italic;
}

.courgette {
  font-family: 'Courgette', cursive;
}

/* main container */

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.center-contents {
  justify-content: center;
  align-items: center;
}

/* user interface */

.uppercase {
  text-transform: uppercase;
}

.btn {
  display: block;
  padding: 1rem;
  width: 12rem;
  text-align: center;

  font-size: 0.8rem;
  text-decoration: none;

  background: var(--color-secondary);
  color: var(--color-light);
  border: 2px solid var(--color-secondary);
  border-radius: 4rem;
}

.btn-secondary {
  background: var(--color-light);
  color: var(--color-primary);
  border-color: var(--color-primary);
  /* border-image-slice: 1;
  border-image-source: linear-gradient(-15deg, var(--color-secondary), var(--color-primary)); */
}